body * {
    box-sizing: border-box;
}

.main {
    margin: auto;
    width: 66%;
    max-width: 800px;    
}
object {
    border: 2px solid rgb(151, 153, 151);
    margin-bottom: 5px; 
}

.tooltip1 {
    position: absolute;
    width: 160px;
    background: green;
    top: 26px;
    left: 75%;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}

.tooltip2 {
    position: absolute;
    width: 160px;
    background: green;
    top: 805px;
    left: 75%;
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 4px;
}




